name: dev
root: ~/code/the-cure

windows:
  - editor:
      layout: main-vertical
      panes:
        - vim
        - modd
        - fd -e js -e css --exclude node_modules --full-path './assets_src' | entr npm --prefix ./assets_src run watch
